.footer {
	line-height: 40px;
	padding: 20px;
	font-size: 16px;
	line-height: 20px;
	background-color: #353535;
	color: white;
	& h3 {
		font-family: "Shrikhand", cursive;
	}

	&__liens a {
		display: block;
		color: white;
		margin: 10px;
		& i {
			margin-right: 10px;
		}
	}
}
